{% extends "base.html" %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Limit Name</th>
            <th>Current Limit</th>
            <th>Current Usage</th>
            <th>Percent Used</th>
        </tr>
    </thead>
    {% for limit in limits %}
    <tbody>
        <tr>
            <td>{{ limit['limit_name'] }}</td>
            <td><form action="/limits/{{ limit['limit_name'] }}" method="POST"><input name="limit_value" value="{{ limit['current_limit'] }}" class="readonly-field" /></form></td>
            <td>{{ limit['current_usage'] }}</td>
            {% if limit['percent_used'] %}
                <td>{{ limit['percent_used'] }}%</td>
            {% else %}
                <td>-</td>
            {% endif %}
        </tr>
    </tbody>
    {% endfor %}
    </table>
{% endblock %}

{% block javascript %}
<script>
    $(".readonly-field").on("focus", function() {
        $(this).removeClass("readonly-field");
    });
    $(".readonly-field").on("focusout", function() {
        $(this).addClass("readonly-field");
    });
</script>
{% endblock %}

{% block extra_head %}
<style>
.readonly-field {
    border-color: transparent;
    background: none;
}
</style>
{% endblock %}
