{% extends "base.html" %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Limit Name</th>
            <th>Current Limit</th>
            <th>Current Usage</th>
            <th>Percent Used</th>
        </tr>
    </thead>
    {% for limit in limits %}
    <tbody>
        <tr>
            <td>{{ limit['limit_name'] }}</td>
            <td><form action="/limits/{{ limit['limit_name'] }}" method="POST"><input name="limit_value" value="{{ limit['current_limit'] }}" class="readonly-field" /></form></td>
            <td>{{ limit['current_usage'] }}</td>
            {% if limit['current_limit'] %}
                <td class="percent_used" data-percent-used="{{limit['percent_used']}}">{{ limit['percent_used'] }}%</td>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if limit['snooze'] %}
                <td><i class="fa fa-bell-slash"></i></td>
            {% endif %}
        </tr>
    </tbody>
    {% endfor %}
    </table>
{% endblock %}

{% block javascript %}
<script>
    $(".readonly-field").on("focus", function() {
        $(this).removeClass("readonly-field");
    });
    $(".readonly-field").on("focusout", function() {
        $(this).addClass("readonly-field");
    });
    $(document).ready(function(){
        $(".percent_used").map(function(p) {
            var percentUsed = $(this).attr('data-percent-used') / 100
            if (percentUsed >= .90){
                 $(this).css({'background-color': 'rgba(180, 30, 30, .85)'})
            } else if (percentUsed >= .75) {
                $(this).css({'background-color': 'rgba(230, 190, 0, .85)'})
            } else {
                $(this).css({'background-color': 'rgba(0, 160, 0, .85)'})
            }
        })
    });
</script>
{% endblock %}

{% block extra_head %}
<style>
.readonly-field {
    border-color: transparent;
    background: none;
}
</style>
{% endblock %}
